:root{
  --dark: #262526;
  --light:#F1F1F1;
  --green: #00882D;
  --montserrat: 'Montserrat', sans-serif;
  --archivoblack: 'Archivo Black', sans-serif;
}

html,body{
  margin: 0;
  background-color: var(--dark);
  font-family: var(--montserrat);
  color: var(--light);
  transition: background-color 0.5s ease;
}

.light{
  background-color: var(--light);
  color: var(--dark);
}