@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

@keyframes fade-in{
  0%{ scale: 0; opacity:0; }
  50%{ scale: 1; opacity: 1; }
}

@keyframes in-from-left{
  0%{transform: translateX(-100%);}
  40%{transform: translateX(0);}
}

:root{
  --dark: #262526;
  --light:#F1F1F1;
  --green: #00882D;
  --grey: #636263;
  --montserrat: 'Montserrat', sans-serif;
  --archivoblack: 'Archivo Black', sans-serif;
}

html,body{
  margin: 0;
  background-color: var(--dark);
  font-family: var(--montserrat);
  color: var(--light);
  transition: background-color 0.5s ease;
  scroll-behavior: smooth;
}

.light{
  --dark: #F1F1F1;
  --light:#262526;
}

button.button_main{
  width: 35%;
  height: 4rem;
  color: var(--light);
  font-size: 1rem;
  background: transparent;
  border: 0.2rem solid var(--green);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

p{
  font-family: var(--montserrat);
  line-height: 1.5rem;
  font-size: 1.5rem;
}

h1{
  font-family: var(--archivoblack);
  font-weight: lighter;
  font-size: 2rem;
}

h2{
  font-family: var(--montserrat);
  font-size: 1.5rem;
}

@media screen and (min-width: 1080px){
  p{
  font-family: var(--montserrat);
  line-height: 2rem;
  }

  @keyframes fade-in{
    0%{ scale: 0; opacity:0; }
    40%{ scale: 1; opacity: 1; }
  }

  @keyframes in-from-left{
    0%{transform: translateX(-100%);}
    40%{transform: translateX(0);}
  }
  

  button.button_main{
    width: 20%;
    height: 4rem;
    font-size: 1.5rem;
  }
  
}