@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

:root{
  --dark: #262526;
  --light:#F1F1F1;
  --green: #00882D;
  --montserrat: 'Montserrat', sans-serif;
  --archivoblack: 'Archivo Black', sans-serif;
}

html,body{
  margin: 0;
  background-color: var(--dark);
  font-family: var(--montserrat);
  color: var(--light);
  transition: background-color 0.5s ease;
}

.light{
  --dark: #F1F1F1;
  --light:#262526;
}

button.button_main{
  width: 35%;
  height: 4rem;
  color: var(--light);
  font-size: 1rem;
  background: transparent;
  border: 0.2rem solid var(--green);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}